<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Lambdatime", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li> <a href = "/static_pages/home"> Home</a> </li>
            <li> <a href = "/members"> Members </a> </li>
            <li><a href = "/messages"> Messages </a> </li>
          </ul>
        </nav>
      </div>
    </header>
<h1>New Message</h1>

<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>
